*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.product-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.product-content-container{
    width: 100%;
}